/* common.css(메뉴바, footer 등 공통적으로 쓰이는 요소들) */
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
/* 메뉴바(로고, 메뉴로 구성)*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d9c72;
  padding: 8px 400px;
  height: 4em;
}
.navbar__logo {
  font-size: 27px;
  color: #fff;
  font-family: "Gugi";
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-family: "Gugi";
}
.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 5px;
}
.navbar__menu li {
  padding: 8px 20px;
}
.navbar__logo--img {
  width: 40px;
  height: 25px;
}

@media screen and (max-width: 1040px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height:9em;
  }
  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 80%;
    text-align: center;
  }
}
