<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      @import url("reset.css");
      @import url("common.css");
      @import url("home.css");
    </style>
    <title>myStudyLibrary 홈페이지</title>
    <style></style>
    <!-- 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="navbar">
      <!-- 로고 -->
      <div class="navbar__logo">
        <img class="navbar__logo--img" src="./logo.png" alt="서비스 로고입니다." />
        <a href="">myStudyLibrary</a>
      </div>
      <!-- 메뉴 -->
      <ul class="navbar__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>
    <main class="main">
      <!-- 배경사진 -->
      <section class="main__card">
        <img class="main__card--img" src="./home.png" alt="홈페이지 메인 배경화면입니다." />
      </section>
      <!-- 유저 정보 -->
      <section class="main__user--logined">
        <img class="main__user--profileImage" src="./user_image.jpg" alt="유저 사진입니다." />
        <p class="main__user--nickname">조이에용</p>
        <button type="button" class="btn__user">유저정보수정하기</button>
      </section>
      <!-- 자유게시판-최근게시글 -->
      <article class="main__board">
        <p class="main__category">📋 자유게시판 - 최신글</p>
        <nav>
          <li>
            <a href=""
              ><p class="main__board--title">포스팅제목입니다. 포스팅제목입...</p>
              <p class="main__board--nickname">닉네임: 작성자1</p></a
            >
          </li>
          <li>
            <a href=""
              ><p class="main__board--title">포스팅제목입니다. 포스팅제목입...</p>
              <p class="main__board--nickname">닉네임: 작성자2</p></a
            >
          </li>
          <li>
            <a href=""
              ><p class="main__board--title">포스팅제목입니다. 포스팅제목입...</p>
              <p class="main__board--nickname">닉네임: 작성자3</p></a
            >
          </li>
          <li>
            <a href=""
              ><p class="main__board--title">포스팅제목입니다. 포스팅제목입...</p>
              <p class="main__board--nickname">닉네임: 작성자4</p></a
            >
          </li>
          <li>
            <a href=""
              ><p class="main__board--title">포스팅제목입니다. 포스팅제목입...</p>
              <p class="main__board--nickname">닉네임: 작성자5</p></a
            >
          </li>
        </nav>
      </article>
      <!-- 동기부여용 명언 -->
      <article class="main__wisesaying">
        <nav>
          <p class="main__category">💪 동기부여</p>
          <li>
            명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다명언입니다
          </li>
          <li>-Zoe-</li>
        </nav>
      </article>
    </main>
    <!-- footer -->
    <footer class="footer__serviceinfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
  </body>
</html>
