/*
게시글 상세 조회
1. 게시글 내용
2. 수정, 삭제버튼 컨테이너와 버튼
3. 게시글 좋아요 누르기 아이콘
4. 태그
5. 작성 유저 정보
6. 해당 게시글에 댓글 달 댓글 컨테이너(댓글 title/input/댓글입력 버튼)
7. 해당 글에 달린 댓글 list 관련 설정
8. 댓글 수정/삭제 대댓글 버튼 설정

 */
/* 컨테이너 */
.freeBoard__board {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  list-style: none;
  row-gap: 3px;
}

/* 게시글 내용 */
.freeBoard__board--content {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
  line-height: 25px;
}
/* 수정하기, 삭제하기 버튼 관리해줄 컨테이너 */
.container__freeBoard--authorization {
  align-self: self-end;
  display: flex;
  flex-direction: row;
  text-align: right;
}
/* 수정하기, 삭제하기 버튼 */
.button__freeBoard--write {
  margin: 0px 5px;
}
/* 게시글 좋아요 누르기 아이콘 */
.freeBoard__board--giveLove {
  width: 65px;
  height: 65px;
  margin-top: 5%;
  align-self: center;
  border: none;
  background-color: #ffffff;
}

.freeBoard__board--giveLoveImg {
  width: 60px;
  height: 60px;
  align-self: center;
}

.freeBoard__board--giveLoveImg:hover {
  width: 65px;
  height: 65px;
  align-self: center;
}
/* 태그 */
.freeBoard__board--tags {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px 10%;
  column-gap: 8px;
  row-gap: 8px;
}
.freeBoard__board--tag {
  padding: 5px;
  background-color: darkseagreen;
  border-radius: 20px;
  color: white;
}
/* 유저 정보 */
.freeBoard__user--profileImage {
  margin: 5px 0px;
  border: 1px solid #dae1e6;
  border-radius: 70%;
  height: 130px;
  width: 130px;
  overflow: hidden;
  position: relative;
  text-align: right;
  justify-self: self-end;
  align-self: self-end;
  justify-items: self-end;
  align-items: self-end;
}

.freeBoard__user--profileImageImg {
  padding-bottom: 30px;
  border: none;
  height: 170px;
  weight: 170px;
  margin: auto;
  object-position: center;
}

.freeBoard__user--nickname {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: left;
  color: dimgray;
  font-size: 17px;
  margin-left: 13px;
  margin-top: 13px;
}

/* 댓글 컨테이너 */

.freeBoard__comment {
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  list-style: none;
  row-gap: 3px;
}
/* 댓글 타이틀 */
.freeBoard__comment--title {
  margin-top: 30px;
  border-top: 1px solid #dae1e6;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 100;
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  color: dimgray;
  align-items: center;
}
/* 댓글 input */
.freeBoard__comment--input {
  font-size: 12px;
  width: 70%;
  background: none;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px dimgray;
}
/* 댓글 작성 버튼 */
.freeBoard__comment--submit {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 80px;
  height: 40px;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid #d6e9c6;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  align-self: self-end;
  justify-self: end;
  margin-top: 5%;
}

.freeBoard__comment--submit:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  padding: 10px;
  background-color: salmon;
}

/* 해당 글에 달린 댓글 list 관련 설정 */
/* 댓글 설정 */
.freeBoard__comment {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  list-style: none;
  color: dimgray;
  row-gap: 30px;
}

.freeBoard__comment li {
  border-bottom: 1px solid #dae1e6;
}
.freeBoard__rootComment {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  line-height: 30px;
  margin-bottom: 5px;
  list-style: none;
}

.freeBoard__rootComment--nickname {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  font-size: 20px;
  font-weight: bold;
}

.freeBoard__rootComment--content {
  margin: 5px 3px;
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  font-size: 17px;

}

.freeBoard__rootComment--createDate {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: right;
  font-size: 17px;
}
/* 대댓글 설정 */
.freeBoard__childComment {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  line-height: 30px;
  margin-bottom: 5px;
  list-style: none;
  background: url("/views/img/comment_arrow.png") no-repeat ;

  background-size: 1.7em 1.7em;
}

.freeBoard__childComment--nickname {

  margin-left: 40px;
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  font-size: 20px;
  font-weight: bold;
}

.freeBoard__childComment--content {
  margin: 5px 43px;
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  font-size: 17px;
}

.freeBoard__childComment--createDate {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: right;
  font-size: 17px;
}
/* 댓글 수정/삭제 대댓글 버튼 설정 */
.button__comment{
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: flex-end;
}
/* 수정하기, 삭제하기 버튼 */
.button__comment--edit {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  margin: 0px 5px;
  height: 40px;
  background-color: #ffffff;
  color: lightslategray;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}
.button__comment--delete {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  margin: 0px 5px;
  height: 40px;
  color: lightslategray;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}
.button__comment--write {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  margin: 0px 5px;
  height: 40px;
  color: lightslategray;
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}
.button__comment--edit:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  padding: 10px;
  background-color: lightgray;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}

.button__comment--delete:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  padding: 10px;
  background-color: lightgray;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}

.button__comment--write:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  padding: 10px;
  background-color: lightgray;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}