/*
1. 자유게시판 컨테이너
2. 자유게시판 타이틀/서브 타이틀
3. 자유게시판 게시글 제목/닉네임/작성날짜/조회수/좋아요 설정
4. 조회수/좋아요 수 아이콘 설정
 */
/* 자유게시판 컨테이너 */
.freeBoard {
  padding: 50px 500px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9fc
}
/* 자유게시판 타이틀 */
.freeBoard__title {
  padding: 15px 0px;
  font-size: 25px;
  font-weight: 100;
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  color: dimgray;
}

/* 자유게시판 서브타이틀 */
.freeBoard__subtitle {
  line-height: 24px;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 100;
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  color: dimgray;
}
/* 자유게시판 게시글 제목/닉네임/작성날짜/조회수/좋아요 설정 */
.freeBoard__board--list {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  line-height: 25px;
  padding: 20px 20px;
  border-radius: 0.28571429rem;
  background: #ffffff;
  border: 1px solid #d9dfeb;
  list-style: none;
  margin: 10px;
}
.freeBoard__board--title {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  margin-bottom: 3%;
  font-size: 20px;
}

.freeBoard__board--createDate {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: right;
  color: dimgray;
  font-size: 17px;
}
.freeBoard__board--favoriteCount {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: right;
  color: dimgray;
  font-size: 17px;
}
.freeBoard__board--viewCount {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: right;
  color: dimgray;
  font-size: 17px;
}

.freeBoard__board--nickname {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  text-align: right;
  color: dimgray;
  font-size: 17px;
}

/* 조회수/좋아요 수 아이콘 설정 */
.freeBoard__board--img {
  width: 15px;
  height: 17px;
  margin-right: 0.5em;
}
.button__freeBoard--write {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 100px;
  height: 45px;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-size: 17px;
  font-weight: bold;
  border-radius: 20px;
  align-self: self-end;
}

.button__freeBoard--write:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  padding: 10px;
  background-color: salmon;
}

/* form 컨테이너 */
.container__search {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  place-self: center;
}

/* 입력(input) 설정 */
.container__search--input {
  font-size: 12px;
  background: none;
  text-align: center;
  outline: none;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: solid 1px dimgray;
}
/* 검색옵션 select 박스 설정 */
.container__search--searchOption {
  font-size: 12px;
  text-align: center;
  height: 30px;
  width: 120px;
  border: solid 1px #999;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/views/img/arrow.png") no-repeat 90% 50% white;
  background-size: 2em 2em;
}
/* 제출 버튼 */
.container__search--submit {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 70px;
  height: 40px;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-weight: bold;
  border-radius: 20px;
}

.container__search--submit:hover {
  background-color: salmon;
  padding: 10px;
}

/*  반응형 디자인 */
@media screen and (max-width: 1480px) {
  .freeBoard {
    padding: 50px;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
  }

  .container__search {
    margin-bottom: 5%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    place-self: center;
  }
}
