/*
게시글 작성 페이지
1. 게시글 작성 form 컨테이너
2. 글제목/글내용/태그 input 설정
3. 제목/내용 글자수 컴포넌트
4. 태그 유효성 툴팁
5. 글작성 버튼
6. 반응형 디자인
 */
/* 컨테이너 */
body {
  background-color: #f9f9fc;
}
.freeBoard {
  margin: 50px 500px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* 자유게시판 타이틀 */
.freeBoard__title {
  margin: 0.5em 0;
  line-height: 1.5em;
  padding: 15px 0px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Noto Sans Kr", "Noto Serif Kr", "Nanum Gothic", serif;
  color: dimgray;
}
/* 게시글작성 form 컨테이너 */
.container__write {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  align-items: center;
  padding: 1% 5%;
  width: 100%;
  height: 150vh;
}
/* 글제목/글내용/태그 input 창 설정 */
.container__write--title {
  font-family: "Noto Sans Kr", "Noto Serif Kr", serif;
  font-size: 15px;
  background: none;
  padding: 1% 5%;
  width: 100%;
  outline: none;
  height: 30px;
  border-radius: 10px;
  border: solid 1px dimgray;
}
.container__write--content {
  font-family: "Noto Sans Kr", "Noto Serif Kr", serif;
  font-size: 15px;
  background: none;
  outline: none;
  padding: 1% 5%;
  width: 100%;
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px dimgray;
}
.container__write--tag {
  font-family: "Noto Sans Kr", "Noto Serif Kr", serif;
  font-size: 15px;
  background: none;
  padding: 1% 5%;
  width: 100%;
  outline: none;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px dimgray;
}
/* 글자 수 컴포넌트 */
.container__title--length {
  align-self: self-end;
  margin: 2px 0px;
}
.container__content--length {
  align-self: self-end;
  margin: 2px 0px;
}
/* 태그 유효성 툴팁 *.

/* 유효성 설명 툴팁 */
.container__tag--tooltip {
  color: white;
  align-items: center;
  justify-self: center;
  align-self: self-start;
  text-align: center;
}
.container__tag--tooltip .container__tag--tooltipText {
  visibility: hidden;
  display: block;
  font-size: 12px;
  line-height: 2em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}
.container__tag--tooltip:hover .container__tag--tooltipText {
  visibility: visible;
}
/* 글작성 확인 버튼 */
.container__write--submit {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  font-size: 16px;
  width: 100px;
  height: 40px;
  margin: 10%;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid #d6e9c6;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-weight: bold;
  border-radius: 20px;
}

.container__write--submit:hover {
  font-size: 16px;
  padding: 5px;
  background-color: salmon;
  border: 1px solid #d6e9c6;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  color: white;
}

/*  반응형 디자인 */
@media screen and (max-width: 1480px) {
  .freeBoard {
    margin: 5% 5%;
  }
  .container__write {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    align-content: flex-start;
    justify-content: flex-start;
    height: 150vh;
  }
  /* 글제목/글내용/태그 input 창 설정 */
  .container__write--title {
    font-size: 12px;
    background: none;
    margin: 1% 0%;
    outline: none;
    width: 95%;
    height: 30px;
    border-radius: 10px;
    border: solid 1px dimgray;
  }
  .container__write--content {
    font-size: 12px;
    background: none;
    outline: none;
    margin: 1% 0%;
    width: 95%;
    height: 80vh;
    border-radius: 10px;
    border: solid 1px dimgray;
  }
  .container__write--tag {
    font-size: 12px;
    background: none;
    width: 95%;
    margin: 1% 0%;
    outline: none;
    height: 30px;
    border-radius: 10px;
    border: solid 1px dimgray;
  }
}
