/*
main 구성요소
1. user 탭( logined/not-logined)
2. 자유게시판-최근게시글
3. 동기부여용 명언 정보
4. 회원가입, 로그인 버튼
5. 반응형 디자인
*/
.home {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 450px;
  justify-content: space-evenly;
}
.home__card--img {
  margin: 5% 0%;
}
/* 1. user 탭 */
/* notlogined */
.home__user--notLogined {
  width: 400px;
  margin: 5% 0%;
  display: grid;
  padding: 30px;
  background-color: #f7f9fa;
  height: 120px;
  color: grey;
  border: 1px solid #dae1e6;
  border-radius: 5px;
  grid-gap: 1em;
  justify-content: space-evenly;
}
/* logined */
.home__user--logined {
  width: 400px;
  margin: 5% 0%;
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #f7f9fa;
  height: 120px;
  color: grey;
  border: 1px solid #dae1e6;
  border-radius: 5px;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.home__user--profileImage {
  grid-column: 1/3;
  grid-row: 1/3;
  border: 1px solid #dae1e6;
  border-radius: 70%;
  height: 130px;
  width: 130px;
  overflow: hidden;
  position: relative;
}

.home__user--profileImageImg {
  padding-bottom: 30px;
  border: none;
  height: auto;
  width: 100%;
  object-position: center;
}
.home__user--nickname {
  font-size: 17px;
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  margin: 0px 5px;
  padding: 30px 30px;
  grid-column: 3/7;
  grid-row: 1/2;
}

.button__user {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 70px;
  height: 40px;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  grid-column: 3/5;
  grid-row: 2/4;
}

.button__user:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 70px;
  padding: 10px;
  background-color: salmon;
  border: 1px solid salmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  grid-column: 3/5;
  grid-row: 2/4;
}

.button__logout {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 70px;
  height: 40px;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
  grid-column: 5/7;
  grid-row: 2/4;
}

.button__logout:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 70px;
  padding: 5px;
  height: 40px;
  background-color: salmon;
  border: 1px solid salmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  grid-column: 5/7;
  grid-row: 2/4;
}
/* 2. 자유게시판 */
.home__board {
  margin: 5% 0%;
  flex-direction: column;
  width: 300px;
  display: flex;
  list-style: none;
}
.home__board li {
  font-family: "Noto Sans Kr", "Noto Serif Kr","Nanum Gothic", serif;
  line-height: 28px;
  padding: 20px 20px;
  border-bottom: 1px solid #dae1e6;
}
.home__board--title {
  padding: 0px;
  font-size: 18px;
  color: dimgray;
}
.home__board--nickname {
  padding: 0px;
  font-size: 13px;
  color: dimgray;
}
/* 자유게시판, 명언 헤드라인 */
.home__category {
  padding: 15px 0px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Noto Sans Kr", "Noto Serif Kr","Nanum Gothic", serif;
  color: dimgray;
  align-items: flex-start;
  border-bottom: 1px solid #dae1e6;
}
/* 3. 동기부여용 명언 */
.home__wiseSaying {
  margin-top: 5%;
  margin-left: 10%;
  font-family: "Noto Sans Kr", "Noto Serif Kr","Nanum Gothic", serif;
  width: 300px;
  font-weight: bold;
  line-height: 30px;
  display: flex;
  list-style: none;
}
.home__wiseSaying li {
  padding: 20px 20px;
  font-size: 18px;
  color: dimgray;
}

/* 4. 로그인, 회원가입 버튼 */
.button__login {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}
.button__login:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: salmon;
  border: 1px solid salmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}
.button__signup {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 200px;
  height: 40px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}
.button__signup:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 200px;
  height: 40px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}
/* 5. 반응형 디자인 */

@media screen and (max-width: 2000px) {
  .home {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  /* 3. 동기부여용 명언 */
  .home__wiseSaying {
    margin-top: 5%;
    margin-left: 0%;
    font-family: "Noto Sans Kr", "Noto Serif Kr","Nanum Gothic", serif;
    width: 300px;
    line-height: 30px;
    display: flex;
    list-style: none;
    align-self: center;
  }
  .home__user--logined {
    align-self: center;
  }
  .home__user--notLogined {
    align-self: center;
  }
  .home__board {
    align-self: center;
  }
}

@media screen and (max-width: 1800px) {
  .home__card--img {
    width: 500px;
  }
  .home__user--notLogined {
    display: grid;
    padding: 30px;
    background-color: #f7f9fa;
    height: 120px;
    color: grey;
    border: 1px solid #dae1e6;
    border-radius: 5px;
    justify-content: space-evenly;
  }
  .home__user--logined {
    display: grid;
    padding: 30px;
    background-color: #f7f9fa;
    height: 120px;
    color: grey;
    border: 1px solid #dae1e6;
    border-radius: 5px;
    justify-content: space-evenly;
  }
  .home__board {
    flex-direction: column;
    width: 300px;
    display: flex;
    list-style: none;
  }
  .home__wiseSaying {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}

@media screen and (max-width: 500px) {
  .home__card--img {
    width: 90%;
  }
  .home__user--notLogined {
    width: 90%;
  }
  .home__user--logined {
    width: 90%;
  }
  .home__board {
    flex-direction: column;
    width: 90%;
    display: flex;
    list-style: none;
  }
  .home__wiseSaying {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}
