/*
회원가입 페이지
1. 회원가입 전체 컨테이너
2. 회원가입 form 컨테이너
2-1. 회원가입 title
2-2. 입력(input)창 설정
2-3. 유효성 설명 툴팁
2-4. gender 셀렉트박스 설정
2-5. 제출 버튼
*/
/* 회원가입 페이지 전체 컨테이너 */
.container {
  background-color: #f9f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
}

/* 회원가입 form 컨테이너 */
.container__signUp {
  margin: 10%;
  border: 1px solid #dae1e6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 1200px;
}

/* 회원가입 컨테이너 title */
.container__signUp--title {
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  color: darkslategray;
  margin: 15px;
  font-size: 1.5rem;
}

.container__signUp--subtitle {
  font-family: "Noto Sans Kr", "Noto Serif Kr","Nanum Gothic", serif;
  color: dimgray;
  font-size: 1rem;
}

/* 회원가입 컨테이너 입력(input) 설정 */
.container__signUp--input {
  font-size: 12px;
  background: none;
  text-align: center;
  outline: none;
  padding: 20px;
  margin: 30px;
  width: 50%;
  height: 0.5em;
  border-radius: 40px;
  border: solid 1px #ffc400;
}

/* 유효하지 않을 때 */
.container__signUp--input:focus:invalid {
  font-size: 12px;
  text-align: center;
  outline: none;
  padding: 20px;
  margin: 30px;
  width: 50%;
  height: 0.5em;
  border-radius: 40px;
  border: solid 1px lightcoral;
  background: url("/views/img/warning.png") no-repeat 90% 50% #ffafb0;
  background-size: 2em 2em;
}

/* 유효할 때 */
.container__signUp--input:valid {
  font-size: 12px;
  text-align: center;
  outline: none;
  padding: 20px;
  margin: 30px;
  width: 50%;
  height: 0.5em;
  border-radius: 40px;
  border: 1px solid darkseagreen;
  background: url("/views/img/check.png") no-repeat 90% 50% #e2ffaf;
  background-size: 2em 2em;
}

/* 유효성 설명 툴팁 */
.container__signUp--tooltip {
  color: white;
  align-items: center;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.container__signUp--tooltip .container__signUp--tooltipText {
  visibility: hidden;
  display: block;
  font-size: 12px;
  line-height: 2em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}
.container__signUp--tooltip:hover .container__signUp--tooltipText {
  visibility: visible;
}
/* 회원가입 성별 select 박스 설정 */
.container__signUp--gender {
  font-size: 12px;
  text-align: center;
  margin: 30px;
  height: 30px;
  width: 50%;
  padding: 5px;
  border: solid 1px #999;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/views/img/arrow.png") no-repeat 90% 50% white;
  background-size: 2em 2em;
}
/* 회원가입 컨테이너 제출 버튼 */
.container__signUp--submit {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  font-size: 16px;
  width: 40%;
  height: 5%;
  margin: 10%;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-weight: bold;
  border-radius: 20px;
}

.container__signUp--submit:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  font-size: 16px;
  width: 40%;
  height: 5%;
  margin: 20px;
  padding: 5px;
  background-color: salmon;
  border: 1px solid salmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  color: white;
  font-weight: bold;
  border-radius: 20px;
}
