/*
회원가입 약관동의 페이지
1. 전체 컨테이너
2. form 컨테이너
2-1. title
2-2. 이용약관 창 띄우는 버튼
2-3. 약관동의 체크박스
2-4. 제출 버튼
*/
/* 회원가입 약관동의 페이지 전체 컨테이너 */
.container {
  background-color: #f9f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

/* form 컨테이너 */
.container__signUpGuide {
  margin: 10%;
  border: 1px solid #dae1e6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 500px;
}

/* title */
.container__signUpGuide--title {
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  color: darkslategray;
  margin: 15px;
  font-size: 1.5rem;
}

/* 이용약관 */
.button__terms {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 150px;
  height: 40px;
  color: #333;
  background-color: #f5f5f5;
  margin-top: 35%;
  margin-bottom: 35%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
}
.button__terms:hover {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-top: 35%;
  margin-bottom: 35%;
  background-color: lightgray;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
}
/* 약관동의 체크박스 */
.container__signUpGuide--agree + label {
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 3px;
}
/* 제출 버튼 */
.container__signUpGuide--submit {
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  font-size: 16px;
  width: 40%;
  height: 10%;
  margin: 10%;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid lightsalmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-weight: bold;
  border-radius: 20px;
}

.container__signUpGuide--submit:hover {
  padding: 1%;
  background-color: salmon;
  border: 1px solid salmon;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  color: white;
}
