/* 회원가입 약관동의 페이지 전체 컨테이너 */
.container {
  background-color: #e4e8eb;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container__terms--title {
  font-family: "Noto Sans Kr", "Noto Serif Kr", "Nanum Gothic", serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 2em;
}

.container__terms--content {

  border-top:1px solid #d9dfeb;
  padding: 1% 20%;
  font-family: "Noto Sans Kr", "Noto Serif Kr", "Nanum Gothic", serif;
  font-size: 20px;
  line-height: 1.5em;
}

/* 5. 반응형 디자인 */
@media screen and (max-width: 768px) {
  .container {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container__terms--title {
    font-family: "Noto Sans Kr", "Noto Serif Kr", "Nanum Gothic", serif;
    font-size: 16px;
    font-weight: bold;
  }
  .container__terms--content {
    padding: 1% 1%;
    font-family: "Noto Sans Kr", "Noto Serif Kr", "Nanum Gothic", serif;
    font-size: 14px;
    line-height: 35px;
  }
}
