/*
1. 유저가 작성한 댓글 컨테이너
2. 유저가 작성한 댓글 글제목/작성날짜/댓글내용 설정
 */
/* 유저가 작성한 댓글 컨테이너 */
.userResource__comment--comment {
  margin-left: 10%;
  margin-top: 5%;
  flex-direction: column;
  width: 600px;
  display: flex;
  list-style: none;
}

.userResource__comment--container {
  margin-top: 50px;
}
/* 유저가 작성한 댓글 글제목/작성날짜/댓글내용 설정 */
.userResource__comment--comment li {
  width: 450px;
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  line-height: 33px;
  padding: 20px ;
  border: 1px solid #d9dfeb;
  background: #ffffff;
  margin:10px;
  border-radius: 0.28571429rem;
}
.userResource__comment--title {
  margin-bottom: 15%;
  font-size: 19px;
  color: dimgray;
}

.userResource__comment--content {
  margin-bottom: 15%;
  padding-left: 2px;
  color: dimgray;
  font-size: 18px;
}
.userResource__comment--createDate {
  margin-top: 15%;
  color: dimgray;
  font-size: 16px;
  text-align: right;
}
