/*
1. 유저가 작성한 댓글 컨테이너
2. 유저가 작성한 댓글 글제목/작성날짜/댓글내용 설정
 */
/* 유저가 작성한 댓글 컨테이너 */
.userComment__comment {
  margin-left: 10%;
  margin-top: 5%;
  flex-direction: column;
  width: 300px;
  display: flex;
  list-style: none;
}

/* 유저가 작성한 댓글 글제목/작성날짜/댓글내용 설정 */
.userComment__comment li {
  font-family: "Noto Serif Kr", "Noto Sans Kr", serif;
  line-height: 20px;
  padding: 20px 20px;
  border-bottom: 1px solid #dae1e6;
}
.userComment__comment--title {
  color: dimgray;
  font-size: 0.9rem;
}

.userComment__comment--createDate {
  color: dimgray;
  font-size: 0.9rem;

  margin-bottom: 4%;
}
.userComment__comment--content {
  margin-bottom: 4%;
}
