.userResource__menu a {
  color: dimgray;
}
.userResource {
  padding: 50px 400px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 4fr 1fr;
  min-height: 100vh;
}
.userResource__menu {
  color: dimgray;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-family: "Gugi";
  row-gap: 3%;
  border-right: 1px solid #9b9b9b;
}
.userResource__menu li:hover {
  color: white;
  background-color: lightsalmon;
  border-radius: 5px;
}
.userResource__menu li {
  padding: 8px 20px;
  color: dimgray;
}

.userResource__menu--this {
  padding: 20px;
  color: white;
  background-color: lightsalmon;
  border-radius: 5px;
}
.userResource__page {
  flex-direction: row;
  display: flex;
  list-style: none;
  margin-top: 10%;
  align-self: flex-start;
  justify-content: center;
  column-gap: 10%;
}
.button__userResource--page {
  font-family: "Poor Story";
  border-radius: 50px;
  width: 120px;
  height: 40px;

  align-self: self-end;
  color: #fff;
  background-color: lightsalmon;
  border: 1px solid #d6e9c6;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
}

.button__userResource--page :hover {
  font-family: "Poor Story";
  border-radius: 50px;
  width: 120px;
  height: 40px;
  align-self: self-end;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: salmon;
  border: none;
  box-shadow: 0 4px 16px rgba(255, 79, 0, 0.3);
}

.button__userResource--delete {
  align-self: self-end;
  font-family: "Poor Story";
  margin-top: 30px;
  width: 70px;
  height: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: #333;
  background-color: #f5f5f5;
  border: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.button__userResource--delete:hover {
  align-self: self-end;
  font-family: "Poor Story";
  margin-top: 30px;
  width: 70px;
  height: 20px;
  background-color: lightgray;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: dimgray;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

/*  반응형 디자인 */
@media screen and (max-width: 1480px) {
  .userResource {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200vh;
  }
  .userResource__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #9b9b9b;
  }
  .userResource__page {
    flex-direction: row;
    display: flex;
    list-style: none;
    margin-top: 10%;
    margin-left: 20%;
    align-self: flex-start;
    justify-content: center;
    column-gap: 10%;
  }
}
