/*
유저가 작성한 글/댓글/리뷰 탭에 공통적으로 쓰일 css 설정
1. 초기화
2. 전체 컨테이너
3. 유저가 작성한 글/댓글/리뷰 메뉴
4. 페이지(이전 페이지/다음 페이지) 버튼
5. 삭제하기 버튼
6. 가이드텍스트 설정(스크롤 내리세요)
7. 반응형 디자인
 */
/* 초기화 */
.userResource__menu a {
  color: dimgray;
}
/* 전체 컨테이너 */
.userResource {
  padding: 50px 400px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 4fr 1fr;
  min-height: 100vh;
  background-color: #f9f9fc
}
/* 유저가 작성한 글/댓글/리뷰 메뉴 */
.userResource__menu {
  color: dimgray;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  row-gap: 3%;
  border-right: 1px solid #9b9b9b;
}
.userResource__menu li:hover {
  color: white;
  background-color: lightsalmon;
  border-radius: 5px;
}
.userResource__menu li {
  padding: 8px 20px;
  color: dimgray;
}

.userResource__menu--this {
  padding: 20px;
  color: white;
  background-color: lightsalmon;
  border-radius: 5px;
}

/* 삭제하기 버튼 */
.button__userResource--delete {
  align-self: self-end;
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  margin-top: 30px;
  width: 70px;
  height: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: #333;
  background-color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.button__userResource--delete:hover {
  align-self: self-end;
  font-family: "Poor Story", "Gugi", "Noto Sans Kr", serif;
  margin-top: 30px;
  width: 70px;
  height: 20px;
  background-color: lightgray;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: dimgray;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}
/* 가이드 텍스트 */
.userResource__guide {
  line-height: 35px;
  padding: 15px 0px;
  font-size: 25px;
  font-weight: 100;
  font-family: "Gugi", "Poor Story", "Noto Sans Kr", serif;
  color: dimgray;
}

/*  반응형 디자인 */
@media screen and (max-width: 1480px) {
  .userResource {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 200vh;
  }
  .userResource__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #9b9b9b;
  }
}
