<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myStudyLibrary 연락처 수정</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/edit_contact.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap");
    </style>
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="gmb">
      <!-- 로고 -->
      <a href="/">
        <div class="gmb__logo">
          <img class="gmb__logo--img" src="/views/img/logo.png" alt="서비스 로고입니다." />
          myStudyLibrary
        </div>
      </a>
      <!-- 메뉴 -->
      <ul class="gmb__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>
    <!-- 연락처 수정 컨테이너 -->
    <main class="container">
      <form action="" class="container__editContact" method="post">
        <h2 class="container__editContact--title">연락처 수정</h2>
        <input type="password" placeholder="변경할 연락처" class="container__editContact--input" name="phoneNumber" />
        <input type="submit" value="연락처 수정" class="container__editContact--submit" />
      </form>
    </main>

    <!-- footer -->
    <footer class="footer__serviceInfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
    <main></main>
  </body>
</html>
