<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>myStudyLibrary 닉네임 수정</title>
  <style>
      @import url("../css/reset.css");
      @import url("../css/common.css");
      @import url("../css/edit_nickname.css");
  </style>
  <!-- 글씨체 -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet" />
</head>
<body>
<!-- 맨 위에 메뉴바 -->
<nav class="gmb">
  <!-- 로고 -->
  <div class="gmb__logo">
    <img class="gmb__logo--img" src="../img/logo.png" alt="서비스 로고입니다." />
    <a href="">myStudyLibrary</a>
  </div>
  <!-- 메뉴 -->
  <ul class="gmb__menu">
    <li><a href="">주변도서관</a></li>
    <li><a href="">자유게시판</a></li>
    <li><a href="">내가작성한글</a></li>
  </ul>
</nav>
<!-- 닉네임 수정 컨테이너 -->
<main class="container">
  <form action="" class="container__editNickname" method="post">
    <h2 class="container__editNickname--title">닉네임 수정</h2>
    <input type="password" placeholder="변경할 닉네임" class="container__editNickname--input" name="nickname" />
    <input type="submit" value="닉네임 수정" class="container__editNickname--submit" />
  </form>
</main>

<!-- footer -->
<footer class="footer__serviceInfo">
  (주) myStudyLibrary
  <br />
  <pre> 대표: 김예지</pre>
  <br />
</footer>
<main></main>
</body>
</html>
