<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myStudyLibrary 프로필사진 수정</title>
    <style>
      @import url("../css/reset.css");
      @import url("../css/common.css");
      @import url("../css/edit_profileImage.css");
    </style>
    <!-- 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="gmb">
      <!-- 로고 -->
      <div class="gmb__logo">
        <img class="gmb__logo--img" src="../img/logo.png" alt="서비스 로고입니다." />
        <a href="">myStudyLibrary</a>
      </div>
      <!-- 메뉴 -->
      <ul class="gmb__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>
    <!-- 비밀번호 수정 컨테이너 -->
    <main class="container">
      <form action="" class="container__editProfileImage" method="post" enctype="multipart/form-data">
        <h2 class="container__editProfileImage--title">프로필 사진 수정</h2>
        <label>
          <img class="container__editProfileImage--img" src="../img/user.png" alt="프로필 사진 업로드." /><input
            type="file"
            name="profileImage"
            accept="image/gjf,image/jpeg,image/jpg,image/png"
            style="display: none"
          />
        </label>
        <input type="submit" value="프로필 사진 수정" class="container__editProfileImage--submit" />
      </form>
    </main>

    <!-- footer -->
    <footer class="footer__serviceInfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
    <main></main>
  </body>
</html>
