<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myStudyLibrary 자유게시판</title>
    <style>
      @import url("../css/reset.css");
      @import url("../css/common.css");
      @import url("../css/free_board.css");
    </style>
    <!-- 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="gmb">
      <!-- 로고 -->
      <div class="gmb__logo">
        <img class="gmb__logo--img" src="../img/logo.png" alt="서비스 로고입니다." />
        <a href="">myStudyLibrary</a>
      </div>
      <!-- 메뉴 -->
      <ul class="gmb__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>
    <article class="freeBoard">
      <p class="freeBoard__title">📋 자유게시판</p>
      <nav class="freeBoard__board">
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
        <li>
          <a href=""
            ><p class="freeBoard__board--title">포스팅제목입니다. 포스팅제목입니다. 포스팅제목입니다...</p>
            <p class="freeBoard__board--nickname">작성자는조이</p>
            <p class="freeBoard__board--viewCount">
              <img class="freeBoard__board--img" src="../img/view.png" alt="조회수 아이콘" />123
            </p>
            <p class="freeBoard__board--favoriteCount">
              <img class="freeBoard__board--img" src="../img/love.png" alt="좋아요 아이콘" />123
            </p>
            <p class="freeBoard__board--createDate">2022년 05월 23일</p></a
          >
        </li>
      </nav>
      <button type="button" class="button__freeBoard--write">글작성</button>

      <section class="pagination">
        <button type="button" class="button--page"><</button>
        <button type="button" class="button--page">1</button>
        <button type="button" class="button--page">2</button>
        <button type="button" class="button--page">3</button>
        <button type="button" class="button--page">4</button>
        <button type="button" class="button--page">5</button>
        <button type="button" class="button--page">></button>
      </section>

      <form action="" class="container__search" >
        <select class="container__search--searchOption" name="searchOption">
          <option value="">검색옵션</option>
          <option value="제목만">제목만</option>
          <option value="내용만">내용만</option>
          <option value="내용만">닉네임</option>
        </select>
        <input type="text" placeholder="검색 내용" class="container__search--input" name="searchContent" />
        <input type="submit" value="검색" class="container__search--submit" />
      </form>
    </article>

    <!-- footer -->
    <footer class="footer__serviceInfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
    <main></main>
  </body>
</html>
