<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myStudyLibrary 자유게시판</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/free_board.css");
      @import url("/views/css/free_board_detail.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap");
    </style>
  </head>
  <body>
    <!-- gmb -->
    <header>
      <script src="/views/js/header.js"></script>
    </header>
    <article class="freeBoard">
      <p class="freeBoard__title">📋 자유게시판</p>
      <nav class="freeBoard__board">
        <li>
          <p class="freeBoard__board--title">
            포스팅제목입니다. 포스팅제목입니다.
            포스팅제목입니다.포스팅제목입니다.포스팅제목입니다.포스팅제목입니다.포스팅제목입니다.
          </p>
          <p class="freeBoard__board--nickname">작성자는조이</p>
          <p class="freeBoard__board--viewCount">
            <img class="freeBoard__board--img" src="/views/img/view.png" alt="조회수 아이콘" />123
          </p>
          <p class="freeBoard__board--favoriteCount">
            <img class="freeBoard__board--img" src="/views/img/love.png" alt="좋아요 아이콘" />123
          </p>
          <p class="freeBoard__board--createDate">2022년 05월 23일</p>
        </li>
      </nav>
      <p class="freeBoard__board--content">
        게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~ 게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~ 게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글
        내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~게시글 내용이에요~v
      </p>
      <a href="" class="freeBoard__board--giveLove">
        <img src="/views/img/give-love.png" class="freeBoard__board--giveLoveImg" alt="좋아요 +1"
      /></a>

      <section class="container__freeBoard--authorization">
        <button type="button" class="button__freeBoard--write">글 수정하기</button>
        <button type="button" class="button__freeBoard--write">글 삭제하기</button>
      </section>
      <form action="" class="freeBoard__comment" method="post">
        <h2 class="freeBoard__comment--title">✏ 댓글</h2>
        <input type="textarea" placeholder="댓글 입력" class="freeBoard__comment--input" name="content" />
        <input type="submit" value="댓글입력" class="freeBoard__comment--submit" />
      </form>
    </article>

    <!-- footer -->
    <footer class="footer__serviceInfo">
      <script src="/views/js/footer.js"></script>
    </footer>

    <script src="/customs/constant.js"></script>
    <script>
      const url = location.href;
      const urlArray = url.split(`${FRONT_URL}/board/`);
      const boardIndex = urlArray[1];
      console.log(boardIndex);
    </script>
  </body>
</html>
