<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KBKFR75");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주변도서관 | myStudyLibrary</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/library.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&family=Nanum+Gothic+Coding&display=swap");
    </style>
    <meta
      name="description"
      content="myStudyLibrary 의 주변도서관, 내가 사는 지역의 도서관 정보를 찾아보고 도서관 이용자들의 후기를 확인해보자"
    />
  </head>
  <body>
    <!-- gmb -->
    <header>
      <script src="/views/js/header.js"></script>
    </header>
    <section class="button__top--container">
      <article class="library__container">
        <p class="library__title">📚 주변도서관</p>
        <p class="library__subtitle">스크롤을 계속 내려보세요</p>
        <form
          class="container__search"
          onsubmit="searchLibrary(document.getElementsByName('nameOfCity')[0].value, document.getElementsByName('districts')[0].value);return false"
        >
          <select class="container__search--nameOfCity" name="nameOfCity" onchange="changeSubSelect(this.value)">
            <optgroup label="시도명">시도명</optgroup>
            <option value="강원도">강원도</option>
            <option value="경기도">경기도</option>
            <option value="경상남도">경상남도</option>
            <option value="경상북도">경상북도</option>
            <option value="광주광역시">광주광역시</option>
            <option value="대구광역시">대구광역시</option>
            <option value="대전광역시">대전광역시</option>
            <option value="부산광역시">부산광역시</option>
            <option value="서울특별시">서울특별시</option>
            <option value="세종특별자치시">세종특별자치시</option>
            <option value="울산광역시">울산광역시</option>
            <option value="인천광역시">인천광역시</option>
            <option value="전라남도">전라남도</option>
            <option value="전라북도">전라북도</option>
            <option value="제주특별자치도">제주특별자치도</option>
            <option value="충청남도">충청남도</option>
            <option value="충청북도">충청북도</option>
          </select>
          <select class="container__search--districts" name="districts">
            <optgroup label="시군구명">시군구명</optgroup>
          </select>
          <input type="submit" value="검색" class="container__search--submit" />
        </form>
        <!-- 게시글 목록 -->
        <nav class="librarys__container"></nav>
      </article>
      <img src="/views/img/top.png" type="button" class="button__top" onClick="javascript:window.scrollTo(0,0)" />
    </section>
    <!-- footer -->
    <footer class="footer__serviceInfo">
      <script src="/views/js/footer.js"></script>
    </footer>
    <script src="/views/js/sweet_alert2.js" type="text/javascript"></script>
    <script src="/views/build/library.js" type="text/javascript"></script>
  </body>
</html>
