<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- fetch -->
    <script src="/data/constant.js"></script>
    <script src="/data/user.js" type="text/javascript"></script>
    <script src="/data/cookie.js" type="text/javascript"></script>
    <script>
      // 로그인여부 체크
      async function checkLogin() {
        const cookieValue = await getCookie("token");
        // 이미 로그인 했을 때 - 홈페이지로 로드 시켜주기
        if (cookieValue !== undefined) {
        }
      }
      // 로그인요청
      async function login(id, pw) {
        const result = await reqLogin(id, pw);
        return result;
      }
      //const a= await login(document.getElementsByName("id")[0].value,document.getElementsByName("pw")[0].value);
    </script>
    <title>myStudyLibrary 로그인</title>
    <style>
      @import url("../css/reset.css");
      @import url("../css/common.css");
      @import url("../css/login.css");
    </style>
    <!-- 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="gmb">
      <!-- 로고 -->
      <div class="gmb__logo">
        <img class="gmb__logo--img" src="../img/logo.png" alt="서비스 로고입니다." />
        <a href="">myStudyLibrary</a>
      </div>
      <!-- 메뉴 -->
      <ul class="gmb__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>
    <section class="container">
      <form action="" class="container__login" method="post">
        <h2 class="container__login--title">로그인 창</h2>
        <input type="text" placeholder="아이디" class="container__login--input" name="id" />
        <input type="password" placeholder="비밀번호" class="container__login--input" name="pw" />
        <input
          type="submit"
          value="로그인"
          class="container__login--submit"
          onclick="login(document.getElementsByName('id')[0].value,document.getElementsByName('pw')[0].value)"
        />
      </form>
    </section>
    <!-- footer -->
    <footer class="footer__serviceInfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
  </body>
</html>
