<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myStudyLibrary 회원가입 약관동의</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/sign_up_guide.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap");
    </style>
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="gmb">
      <!-- 로고 -->
      <a href="/">
        <div class="gmb__logo">
          <img class="gmb__logo--img" src="/views/img/logo.png" alt="서비스 로고입니다." />
          myStudyLibrary
        </div>
      </a>
      <!-- 메뉴 -->
      <ul class="gmb__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>

    <!-- html에 html 파일 추가하기 -->
    <section class="container">
      <form action="" class="container__signUpGuide">
        <h2 class="container__signUpGuide--title">회원가입 이용약관</h2>
        <textarea class="container__signUpGuide--terms" readonly>
          개인정보 수집 및 이용동의
          개인정보보호법에 따라 myStudyLib에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.
          1. 수집하는 개인정보
          이용자는 회원가입을 하지 않아도 정보 검색, 뉴스 보기 등 대부분의 서비스를 회원과 동일하게 이용할 수 있습니다.
          이용자가 게시판과 같이 개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우 myStudyLib는 서비스이용을 위해 필요한 최소한의 개인정보를 수집합니다.
          회원가입 시점에 myStudyLib가 이용자로부터 수집하는 개인정보는 아래와 같습니다.
          - 회원 가입 시에 ‘아이디, 비밀번호, 이름, 성별, 닉네임, 휴대전화번호’를 필수항목으로 수집합니다.
          - 회원정보 또는 개별 서비스에서 프로필 정보(별명, 프로필 사진)를 설정할 수 있습니다.
          서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록이 생성되어 수집될 수 있습니다.
          이와 같이 수집된 정보는 개인정보와의 연계 여부 등에 따라 개인정보에 해당할 수 있고, 개인정보에 해당하지 ,않을 수도 있습니다.
          2. 수집한 개인정보의 이용
          myStudyLib의 회원관리, 서비스 개발・제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.
          - 회원 가입 의사의 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.
          - 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해
          개인정보를 이용합니다.
          3. 개인정보의 보관기간
          회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.
          4. 개인정보 수집 및 이용 동의를 거부할 권리
          이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다.
          회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다.
        </textarea>
        <label>약관에 동의해주세요 <input class="container__signUpGuide--agree" type="checkbox" name="agree" /> </label>
        <input type="submit" value="확인" class="container__signUpGuide--submit" />
      </form>
    </section>
    <!-- footer -->
    <footer class="footer__serviceInfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
    <main></main>
  </body>
</html>
