<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입 | myStudyLibrary</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/sign_up.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap");
    </style>
    <meta name="description" content="myStudyLibrary 회원가입 페이지, 내가 사는 지역의 도서관 정보를 찾아보고 도서관 이용자들의 후기를 확인해보자!" />
  </head>
  <body>
    <!-- gmb -->
    <header>
      <script src="/views/js/header.js"></script>
    </header>
    <section class="container">
      <form
        class="container__signUp"
        method="post"
        onsubmit="signUp(document.getElementsByName('id')[0].value, document.getElementsByName('pw')[0].value, document.getElementsByName('confirmPw')[0].value,document.getElementsByName('name')[0].value,document.getElementsByName('phoneNumber')[0].value,document.getElementsByName('nickname')[0].value,document.getElementsByName('gender')[0].value);return false"
        ;
      >
        <h2 class="container__signUp--title">회원가입</h2>
        <h3 class="container__signUp--subtitle">?에 마우스를 올려보고 입력조건 확인</h3>
        <input
          type="text"
          placeholder="아이디"
          class="container__signUp--input"
          name="id"
          required
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,20}$"
          title="아이디: 5 ~ 20글자 사이의 문자와 숫자 조합 입력"
        />
        <nav class="container__signUp--tooltip">
          <li>❔</li>
          <li class="container__signUp--tooltipText">
            <p>아이디: 5 ~ 20글자 사이의 문자와 숫자 조합 입력</p>
          </li>
        </nav>
        <input
          type="password"
          placeholder="비밀번호"
          class="container__signUp--input"
          name="pw"
          required
          pattern="^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,16}$"
          title="비밀번호: 8 ~ 16글자 사이의 문자, 숫자, 특수문자 조합"
        />
        <nav class="container__signUp--tooltip">
          <li>❔</li>
          <li class="container__signUp--tooltipText">
            <p>비밀번호: 8 ~ 16글자 사이의 문자, 숫자, 특수문자 조합</p>
          </li>
        </nav>
        <input
          type="password"
          placeholder="비밀번호확인"
          class="container__signUp--input"
          name="confirmPw"
          required
          oninput="checkValidation(this,document.getElementsByName('pw')[0])"
        />
        <nav class="container__signUp--tooltip">
          <li>❔</li>
          <li class="container__signUp--tooltipText">
            <p>비밀번호 확인, 비밀번호와 일치시켜주세요.</p>
          </li>
        </nav>
        <input
          type="text"
          placeholder="이름"
          class="container__signUp--input"
          name="name"
          required
          pattern="^[가-힣]+$"
          minlength="1"
          maxlength="30"
          title="이름: 1 ~ 30글자 사이의 한글 입력"
        />
        <nav class="container__signUp--tooltip">
          <li>❔</li>
          <li class="container__signUp--tooltipText">
            <p>이름: 1 ~ 30글자 사이의 한글 입력</p>
          </li>
        </nav>
        <input
          type="text"
          placeholder="연락처(휴대전화)"
          class="container__signUp--input"
          name="phoneNumber"
          required
          pattern="^01([0|1|6|7|8|9])([0-9]{3,4})([0-9]{4})$"
          title="연락처: (-)없이 01012345678 형태 입력"
        />
        <nav class="container__signUp--tooltip">
          <li>❔</li>
          <li class="container__signUp--tooltipText">
            <p>연락처: (-)없이 01012345678 형태 입력</p>
          </li>
        </nav>
        <input
          type="text"
          placeholder="닉네임"
          class="container__signUp--input"
          name="nickname"
          required
          pattern="^[가-힣|a-z|A-Z|0-9]+$"
          title="닉네임: 2~8글자 사이의 한글, 숫자, 영어 (공백 불가)"
        />
        <nav class="container__signUp--tooltip">
          <li>❔</li>
          <li class="container__signUp--tooltipText">
            <p>닉네임: 2~8글자 사이의 한글, 숫자, 영어 (공백 불가)</p>
          </li>
        </nav>
        <select class="container__signUp--gender" name="gender" title="성별">
          <option value="">성별 선택</option>
          <option value="여">여</option>
          <option value="남">남</option>
        </select>
        <input type="submit" value="회원가입" class="container__signUp--submit" />
      </form>
    </section>
    <!-- footer -->
    <footer class="footer__serviceInfo">
      <script src="/views/js/footer.js"></script>
    </footer>
    <script src="/views/build/sweetalert2.js" type="text/javascript"></script>
    <script src="/views/build/sign_up.js" type="text/javascript"></script>
  </body>
</html>
