<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="/data/constant.js"></script>
    <script src="/data/user.js" type="text/javascript"></script>
    <title>myStudyLibrary 회원가입 약관동의</title>
    <script>
      async function signUpGuide() {
        const terms = await getSignUpGuide();

        document.getElementsByClassName("container__signUpGuide--terms")[0].innerHTML = terms;
      }
      signUpGuide();
    </script>
  </head>
  <body class="container__signUpGuide--terms"></body>
</html>
