<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>myStudyLibrary 유저정보</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/user_info.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap");
    </style>
  </head>
  <body>
    <!-- 맨 위에 메뉴바 -->
    <nav class="gmb">
      <!-- 로고 -->
      <a href="/">
        <div class="gmb__logo">
          <img class="gmb__logo--img" src="/views/img/logo.png" alt="서비스 로고입니다." />
          myStudyLibrary
        </div>
      </a>
      <!-- 메뉴 -->
      <ul class="gmb__menu">
        <li><a href="">주변도서관</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">내가작성한글</a></li>
      </ul>
    </nav>
    <!-- 유저 정보 관리 컨테이너 -->
    <main class="container">
      <section class="container__userInfo">
        <h2 class="container__userInfo--title">유저정보 관리</h2>
        <button class="button__userInfo" onclick="location.href='/user/edit-pw'">비밀번호수정</button>
        <button class="button__userInfo" onclick="location.href='/user/edit-profile-image'">프로필사진수정</button>
        <button class="button__userInfo" onclick="location.href='/user/edit-nickname'">닉네임수정</button>
        <button class="button__userInfo" onclick="location.href='/user/edit-contact'">연락처수정</button>
        <button class="button__userInfo">관심도서관 관리</button>
        <button class="button__userInfo--dropOut" onclick="location.href='/user/drop-out'">회원탈퇴</button>
      </section>
    </main>

    <!-- footer -->
    <footer class="footer__serviceInfo">
      (주) myStudyLibrary
      <br />
      <pre> 대표: 김예지</pre>
      <br />
    </footer>
    <main></main>
  </body>
</html>
