<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KBKFR75');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>유저가 작성한 후기 | myStudyLibrary</title>
    <style>
      @import url("/views/css/reset.css");
      @import url("/views/css/common.css");
      @import url("/views/css/user_resource.css");
      @import url("/views/css/user_review.css");
      /* 글씨체 */
      @import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Gugi&family=Lobster&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR&family=Poor+Story&display=swap");
    </style>
    <meta name="description" content="myStudyLibrary 유저가 작성한 도서관 리뷰 모음, 내가 사는 지역의 도서관 정보를 찾아보고 도서관 이용자들의 후기를 확인해보자!" />
  </head>
  <body>
    <!-- gmb -->
    <header>
      <script src="/views/js/header.js"></script>
    </header>
    <main class="userResource">
      <ul class="userResource__menu">
        <li><a href=""> 내 게시글 </a></li>
        <li><a href=""> 내 댓글 </a></li>
        <li class="userResource__menu--this"><a href=""> 내 도서관 후기 </a></li>
      </ul>
      <section class="userReview__review">
        <nav>
          <li>
            <a href="">
              <p class="userReview__review--library">백운까치도서관</p>
              <p class="userReview__review--createDate">2022년 05월 23일</p>
              <p class="userReview__review--content">
                후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.
              </p>
              <button class="button__userResource--delete">삭제</button></a
            >
          </li>
          <li>
            <a href="">
              <p class="userReview__review--library">백운까치도서관</p>
              <p class="userReview__review--createDate">2022년 05월 23일</p>
              <p class="userReview__review--content">
                후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.
              </p>
              <button class="button__userResource--delete">삭제</button></a
            >
          </li>
          <li>
            <a href="">
              <p class="userReview__review--library">백운까치도서관</p>
              <p class="userReview__review--createDate">2022년 05월 23일</p>
              <p class="userReview__review--content">
                후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.
              </p>
              <button class="button__userResource--delete">삭제</button></a
            >
          </li>
          <li>
            <a href="">
              <p class="userReview__review--library">백운까치도서관</p>
              <p class="userReview__review--createDate">2022년 05월 23일</p>
              <p class="userReview__review--content">
                후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.
              </p>
              <button class="button__userResource--delete">삭제</button></a
            >
          </li>
          <li>
            <a href="">
              <p class="userReview__review--library">백운까치도서관</p>
              <p class="userReview__review--createDate">2022년 05월 23일</p>
              <p class="userReview__review--content">
                후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.후기입니다.
              </p>
              <button class="button__userResource--delete">삭제</button></a
            >
          </li>
        </nav>
      </section>
      <section></section>
      <section class="userResource__page">
        <button class="button__userResource--page"><a href="">< 이전</a></button>
        <button class="button__userResource--page"><a href="">다음 ></a></button>
      </section>
    </main>
    <!-- footer -->
    <footer class="footer__serviceInfo">
      <script src="/views/js/footer.js"></script>
    </footer>
  </body>
</html>